.background{
    background-color: aquamarine;
}
.firstsection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    max-width: 50%;
    margin: auto;
    height: 90%;
}

.firstHalf {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center
}



.text-big {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 41px;
    text-align: center;
}

.text-small {
    font-family: 'Sansita Swashed', cursive;
    font-size: 18px;
    text-align: center;
}



