@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
.category-card .card-banner {
	border-radius: var(--radius-10);
}

.category-card .img-cover {
	transition: var(--transition-2);
}

.category-card:is(:hover,
:focus-within) .img-cover {
	transform: scale(1.08);
}

.category-card .card-title {
	margin-block-start: 15px;
	text-align: center;
	transition: var(--transition-1);
}

.category-card .card-title:is(:hover,
:focus) {
	color: var(--portland-orange);
}

#feature {
	padding: 40px 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

#feature .fe-box {
	width: 180px;
	text-align: center;
	padding: 25px 15px;
	box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
	border: 1px solid #cce7de;
	border-radius: 4px;
	margin: 15px 0;
}

#feature .fe-box:hover {
	box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1)
}

#feature .fe-box img {
	width: 100%;
	margin-bottom: 10px;
}

#feature .fe-box h4 {
	display: inline-block;
	padding: 9px 8px 6px 8px;
	line-height: 1;
	border-radius: 4px;
	color: rgb(197, 58, 27);
	background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h4 {
	background-color: gray;
}

#feature .fe-box:nth-child(3) h4 {
	background-color: yellow;
}

#feature .fe-box:nth-child(4) h4 {
	background-color: palevioletred;
}

#feature .fe-box:nth-child(5) h4 {
	background-color: peru;
}


/* <--petfood--> */

#product1 {
	text-align: center;
}

#pro-container {
    display: flex;
	flex-wrap: wrap;
   justify-content: center;
	min-height: 30vh;
		min-width: 80vw;
}


.pro {
	min-width: 300px;
	padding: 5px 5px;
	border: 1px solid #cce7d0;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
	margin: 15px 10px;
	transition: 0.02s;
	position: relative;
	height:53vh;
}

.pro:hover {
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.pro img {
	display: block;
	width: 300px;
	height: 240px;
	border: 1px solid #afafaf;
	border-bottom: 0;
	overflow: hidden;
	text-align: center;
	border-radius: 15px;
}


.pro .fd-b {
	width: 55px;
	height: 40px;
	line-height: 40px;
	font-weight: 500;
	color: #088178;
	border: 1px solid #cce7d0;
	position: absolute;
	border-radius: 10px;
	position: absolute;
	bottom: 10px;
	right: 25px;
}

.pro .fd-c {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-weight: 500;
	color: #088178;
	border: 1px solid #cce7d0;
	position: absolute;
	bottom: 6px;
	right: 65px;
}

.pro .fd-d {
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-weight: 500;
	color: #088178;
	border: 1px solid #cce7d0;
	position: absolute;
	bottom: 6px;
	right: 10px;
}


.left-column {
	width: 65%;
	position: relative;
}
.pro .cart {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50px;
	font-weight: 500;
	color: #088178;
	border: 1px solid #cce7d0;
	position: absolute;
	bottom: 20px;
	right: 10px;
}

ul {
	list-style-type: none;
}

#main-content {
	margin-top: 20px;
}

#main-content>section.section.category::--webkit-scrollbar {
	display: none;
}

.section-p1 {
	box-sizing: border-box;
	padding: 40px 40px 40px 10px;
}

.pf {
	display: flex;
	justify-content: center;
	font-family: sans-serif;
}

.pf-1 {
	display: flex;
	justify-content: center;
	font-family: sans-serif;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tbody:nth-child(even) {
	background-color: #dddddd;
}
#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 73px;
	background: #E3E6F3;
	box-shadow: 0 5px 50px rgba(0, 0, 0, 0);
	box-sizing: content-box;
}

#navbar {
	display: flex;
	align-items: center;
	justify-content: center;

}

#navbar li {
	list-style: none;
	padding: 0 20px;
	position: relative;
}

#navbar li a {
	text-decoration: none;
	font-size: 26px;
	font-weight: 600;
	color: black;
	transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
	color: rgb(25, 209, 209)
}

#navbar li a.active::after,
#navbar li a:hover:after {
	content: "";
	width: 30%;
	height: 2px;
	background: rgb(25, 209, 209);
	position: absolute;
	bottom: -4px;
	left: 20px;
}

.header .logo {
	font-size: 16px;
	color: black;
	font-weight: 600;
	transition: 0.3s ease;
}

#header .logo i {
	color: #25c8d3;
}

#header .navbar {
	left: 100%;
}

#hero {
	padding: 0 27%;
	justify-content: center;
}

#hero .text-center {
	font-size: 500%;
}

#home {
	font-size: 250%;
	padding: 10% 12%;
	font-family: sans-serif;
	color: white;
}
.dropbtn {
	padding: 16px;
	border: none;
	cursor: pointer;
}



.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background: #E3E6F3;
	min-width: 100px;
	overflow: hidden;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 5px 8px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.dropdown:hover {
	display: block;
}

#cart-table{
	margin-top: 30px;
}
input[type="text"], input[type="text"], input[type="text"], input[type="text"], textarea {
	width: 100%;
	display: flex;
	box-sizing: border-box;
	margin: 0;
	padding: 8px;
}
element.style{
	display:flex;
	display:list-item;
}
#fd{
	width: 100px;
}
.wrapper {
	height: 420px;
	width: 654px;
	margin: 50px auto;
	border-radius: 7px 7px 7px 7px;
	-webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
	float: left;
	height: 420px;
	width: 327px;
}

.product-img img {
	border-radius: 7px 0 0 7px;
}

.product-info {
	float: left;
	height: 420px;
	width: 327px;
	border-radius: 0 7px 10px 7px;
	background-color:whitesmoke;
}

.product-text {
	height: 300px;
	width: 327px;
}

.product-text h1 {
	margin: 0 0 0 38px;
	padding-top: 52px;
	font-size: 34px;
	color: #1d1c1c;
}

.product-text h1,
.product-price-btn p {
	font-family: 'Bentham', serif;
}

.product-text h2 {
	margin: 0 0 47px 38px;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #d2d2d2;
	letter-spacing: 0.2em;
}

.product-text p {
	height: 125px;
	margin: 0 0 0 38px;
	font-family:  serif;
	color: #8d8d8d;
	line-height: 1.7em;
	font-size: 15px;
	font-weight: lighter;
	overflow: hidden;
}

.product-price-btn {
	height: 103px;
	width: 327px;
	
	padding-left: 50px;
	position: relative;

	
	
}

.product-price-btn p {
	display: inline-block;
	position: absolute;
	top: -13px;
	height: 50px;
	font-family: 'Trocchi', serif;
	margin: 0 0 0 38px;
	font-size: 28px;
	font-weight: lighter;
	
}

span {
	display: inline-block;
	height: 50px;
	font-family: 'Suranna', serif;
	font-size: 34px;
}

.product-price-btn button {
	float: none;
	display: inline-block;
	height: 50px;
	width: 176px;
	margin: 0 40px 0 16px;
	box-sizing: border-box;
	border: transparent;
	border-radius: 60px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	background-color: #4266db;
	cursor: pointer;
	outline: none;
}

.product-price-btn button:hover {
	background-color: #79b0a1;
}

.products{
	   display: flex;
		flex-wrap: wrap;
		padding: 5px 13vmax;
		justify-content: center;
		min-height: 30vh;

	}


.button-59 {
	align-items: center;
	background-color: #fff;
	border: 2px solid #000;
	box-sizing: border-box;
	color: #000;
	cursor: pointer;
	display: inline-flex;
	fill: #000;
	font-family: Inter, sans-serif;
	font-size: 16px;
	font-weight: 600;
	height: 48px;
	justify-content: center;
	letter-spacing: -.8px;
	line-height: 24px;
	min-width: 140px;
	outline: 0;
	padding: 0 17px;
	text-align: center;
	text-decoration: none;
	transition: all .3s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-59:focus {
	color: #171e29;
}

.button-59:hover {
	border-color: #06f;
	color: #06f;
	fill: #06f;
}

.button-59:active {
	border-color: #06f;
	color: #06f;
	fill: #06f;
}

@media (min-width: 768px) {
	.button-59 {
		min-width: 170px;
	}
}
		.b12{
			padding-top: 10px;
			padding-left: 20px;
		}


.button-73 {
	appearance: none;
	background-color: #FFFFFF;
	border-radius: 40em;
	border-style: none;
	box-shadow: #ADCFFF 0 -12px 6px inset;
	box-sizing: border-box;
	color: #000000;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system, sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: -.24px;
	margin: 0;
	outline: none;
	padding: 1rem 1.3rem;
	quotes: auto;
	text-align: center;
	text-decoration: none;
	transition: all .15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-73:hover {
	background-color: #FFC229;
	box-shadow: #FF6314 0 -6px 8px inset;
	transform: scale(1.125);
}

.button-73:active {
	transform: scale(1.025);
}

@media (min-width: 768px) {
	.button-73 {
		font-size: 1.5rem;
		padding: .75rem 2rem;
	}
}

.cb{
	padding-left: 550px;
	padding-bottom: 30px;
	position: absolute;
	top:130px;
    left:80px;

}

.im{
	padding-left: 40px;
}





.f{
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100vh;
	position: absolute;
	top:70px;
	right:750px;
	


}
.f1 {
	align-items: center;
	
	justify-content: center;
	height: 110vh;
	position: absolute;
	top: 130px;
	right: 450px;

}
.f3 {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 110vh;
	position: absolute;
	top: 77px;
	right: 450px;

}
.lg{
      width:30vw;	   
	   padding-left: 200%;
	  
	
}
.lk{
			width: 40vw;
				padding-left: 150%;
}
.lt {
	width: 60vw;
	padding-left: 112%;
	position: absolute;
	top: 46px;
	overflow-y: hidden;
}
.form {
	background-color: #6e6ef8;
	border-radius: 20px;
	box-sizing: border-box;
	height: 500px;
	padding: 20px;
	width: 400px;
	padding-top: 30px;
	
}
.form3 {
	background-color: #6e6ef8;
	border-radius: 20px;
	box-sizing: border-box;
	height: 580px;
	padding: 20px;
	width: 420px;
	padding-top: 30px;

}
.form1 {
	background-color:#6e6ef8;
	border-radius: 20px;
	box-sizing: border-box;
	height: 625px;
	padding: 20px;
	width: 420px;
	padding-top: 30px;

}

.title {
	color: whitesmoke;
	font-family: sans-serif;
	font-size: 36px;
	font-weight: 600;
	margin-top: 15px;
	padding-left: 90px;
}
.title2 {
	color: whitesmoke;
	font-family: sans-serif;
	font-size: 36px;
	font-weight: 600;
	margin-top: 15px;
	padding-left: 60px;
}
.title3 {
	color: whitesmoke;
	font-family: sans-serif;
	font-size: 36px;
	font-weight: 600;
	margin-top: 15px;
	padding-left: 30px;
}
.title4 {
	color: whitesmoke;
	font-family: sans-serif;
	font-size: 36px;
	font-weight: 600;
	margin-top: 15px;
	padding-left: 65px;
}

.btnc{
	margin-top: 20px;
	padding-left: 100px;
}

.input-container {
	height: 50px;
	position: relative;
	width: 100%;
}


.ic2 {
	margin-top: 15px;
}

.input-container input {
	border: none;
	outline: none;
	border-radius: 12px;
	
	box-sizing: border-box;
	
	font-size: 18px;
	height: 90%;
	
	padding: 4px 10px 0;
	width: 100%;
}

.impl{
	padding-left: 40px;
	padding-top: 30px;
}
.imp2 {
	padding-left: 40px;
	padding-top: 400px;
}
.imp3 {
	padding-left: 40px;
	padding-top: 280px;
}

.imps{
	width:300px
}


.abc{
	color: black;
	font-size: 20px;
}

#createProductFormFile>input {
	display: flex;
	padding:0%;
	position:relative;
	right:50px;
	
}

#createProductFormFile>input::file-selector-button {
	cursor: pointer;
	width: 100%;
	border-radius: 12px;
	height: 7vh;
	border: none;
	margin: 0%;
	font: 800 4vmax ;
	transition: all 0.5s;
   color: rgba(0, 0, 0, 0.623);
	background-color: rgb(255, 255, 255);
}

#createProductFormFile>input::file-selector-button:hover {
	background-color: rgb(235, 235, 235);
}



.footer {
	position: absolute;
	top: 1430px;
	left: 0;
	right: 0;
	padding: 2rem;
    color: #000;
	font-weight: 500;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.2rem;
}
:root {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	height: 100vh;

}

.obt{
 padding-left: 590px;	
 padding-top: 30px;
}

.f5{
			align-items: center;
			display: flex;
			justify-content: center;
			height: 110vh;
			position: absolute;
			top: 255px;
			left: 480px;

}
.form5{
		   background-color: #6e6ef8;
			border-radius: 20px;
			box-sizing: border-box;
			height: 720px;
			padding: 20px;
			width: 420px;
			padding-top: 30px;
}
.title6{
		color: whitesmoke;
			font-family: sans-serif;
			font-size: 36px;
			font-weight: 600;
			margin-top: 15px;
			padding-left: 25px;
}
.title7 {
	color: whitesmoke;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-top: 15px;
	padding-left: 95px;
}

.label{
	color: white;
	font-weight: 700;

}
.obt1 {
	padding-left: 60px;
	padding-top: 20px;
	
}
.bkc{
	width: 250px;
}

