@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
html{
    background-color: hsl(60, 95%, 51%);
}
body{
    margin:0px;
    padding: 0px;
    background-color: yellow;
    background-size: cover;
    font-family: sans-serif;
}
.login{
   
    width:74vw;
    padding-top: 6%;
    padding-left: 40%;
    left: calc(50%-50px);
    top: calc(50%-50px);
    overflow-y: hidden;

}
.login-container{
    width: 420px;
    height: 380px;
    border-color: aqua;
    color:hsl(240, 74%, 5%);
    top: 50%;
    left:30%;
    position: absolute;
    transform:translate(-50%, -50%);
    box-sizing:content-box ;
    border-radius: 10px;
    background-color: #ffffff;
    padding:70px 40px;
}
h1{
    margin:0;
    padding:0 0 20px;
    text-align: center;
    font-size: 30px;

}
.login-container p{
    margin:0;
    padding:0;
    font-weight: bold;
}

.login-container input{
    width: 100%;
    margin-bottom: 20px;
}
.login-container input[type="email"], input[type="password"] ,input[type="text"], input[type="phone"]
{
    border:none;
    border-bottom: 1px solid #130101;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
}
.login-container input[type="submit"]
{
    border:none;
    outline:none;
    height: 40px;
    background: #060600;
    color:#fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-container input[type="submit"]:hover{
    cursor: pointer;
    background:  hsl(60, 95%, 51%);
    color:#000;
}



 .button-62 {
     background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
     width: 250px;
     border: 0;
     border-radius: 12px;
     color: #FFFFFF;
     cursor: pointer;
     display: inline-block;
     font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
     font-size: 16px;
     font-weight: 500;
     line-height: 2.5;
     outline: transparent;
     padding: 0 1rem;
     text-align: center;
     text-decoration: none;
     transition: box-shadow .2s ease-in-out;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     white-space: nowrap;
 }

 .button-62:not([disabled]):focus {
     box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
 }

 .button-62:not([disabled]):hover {
     box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
 }

 .bt {
     padding-left: 80px;
     padding-bottom: 20px;
 }